<form *ngIf="calendarEvent" name="deleteForm" (ngSubmit)="confirmDelete(calendarEvent.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="calendarEventDeleteDialogHeading" jhiTranslate="entity.delete.title">Confirm delete operation</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()"></button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <p
      id="jhi-delete-calendarEvent-heading"
      jhiTranslate="teamprojectApp.calendarEvent.delete.question"
      [translateValues]="{ name: calendarEvent.name }"
    >
      Are you sure you want to delete Calendar Event "{{ calendarEvent.name }}"?
    </p>
    <b>
      <p id="jhi-delete-calendarEvent-warning" jhiTranslate="teamprojectApp.calendarEvent.delete.warning">
        This action cannot be undone
      </p>
    </b>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
    </button>

    <button id="jhi-confirm-delete-calendarEvent" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
    </button>
  </div>
</form>
