<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
  <div class="row clearfix">
    <div class="col-lg-10">
      <div class="card chat-app">
        <div id="plist" class="people-list">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><fa-icon icon="search"></fa-icon></span>
            </div>
            <input type="text" class="form-control" placeholder="Search..." />
          </div>
          <ul class="list-unstyled chat-list mt-2 mb-0">
            <li class="clearfix">
              <div class="about">
                <div class="name">Carl Green</div>
              </div>
            </li>

            <li class="clearfix active">
              <div class="about">
                <div class="name">Maryam Seth</div>
              </div>
            </li>

            <li class="clearfix">
              <div class="about">
                <div class="name">Susan Burch</div>
              </div>
            </li>

            <li class="clearfix">
              <div class="about">
                <div class="name">Stella Brown</div>
              </div>
            </li>

            <li class="clearfix">
              <div class="about">
                <div class="name">John Smith</div>
              </div>
            </li>

            <li class="clearfix">
              <div class="about">
                <div class="name">Dziko Adebisi</div>
              </div>
            </li>

            <li class="clearfix">
              <div class="about">
                <div class="name">John Smith</div>
              </div>
            </li>

            <li class="clearfix">
              <div class="about">
                <div class="name">John Smith</div>
              </div>
            </li>

            <li class="clearfix">
              <div class="about">
                <div class="name">Jessica Miller</div>
              </div>
            </li>

            <li class="clearfix">
              <div class="about">
                <div class="name">Maggie Smith</div>
              </div>
            </li>
          </ul>
        </div>
        <div class="chat">
          <div class="chat-header clearfix">
            <div class="row">
              <div class="col-lg-7">
                <div class="chat-about">
                  <h6 class="m-b-0">Maryam Seth</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="chat-history">
            <ul class="m-b-0">
              <li class="clearfix">
                <div class="message-data text-right">
                  <span class="message-data-time">10:10 AM, Today</span>
                </div>
                <div class="message other-message float-right">Hi Maryam, have you received your order?</div>
              </li>
              <li class="clearfix">
                <div class="message-data">
                  <span class="message-data-time">10:14 AM, Today</span>
                </div>
                <div class="message my-message">Yes thank you,I received the order this morning.</div>
              </li>
              <li class="clearfix">
                <div class="message-data">
                  <span class="message-data-time">10:15 AM, Today</span>
                </div>
                <div class="message my-message">Do you have any baby blue yarn in stock,I would like to make an order.</div>
              </li>
            </ul>
          </div>
          <div class="chat-message clearfix">
            <div class="input-group mb-0">
              <input type="text" class="form-control" placeholder="Enter text here..." />
              <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon icon="paper-plane"></fa-icon></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
