/* finance.component.css */

.business-name {
  margin-bottom: 25px;
}

.container-max {
  max-height: 110vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1vh;
  height: 110vh;
  background-color: white;
}

.targets {
  grid-column: 1;
  overflow: auto;
}

.target-close {
  position: absolute;
  right: 2px;
  top: 2px;
}

.charts {
  grid-column: 2;
  overflow: auto;
}

/* .charts .card {
  min-width: 100%;
} */
