<div>
  <div class="modal-header">
    <h4 class="modal-title" jhiTranslate="calendar.dateNav.title">Go to date</h4>
    <button aria-label="Exit" type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()"></button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <div class="modal-body">
      <div class="row mb-3">
        <input
          aria-label="Select a date"
          id="field_date"
          type="date"
          class="form-control"
          name="date"
          placeholder="YYYY-MM-DD"
          [(ngModel)]="date"
        />
      </div>

      <div id="allDay" class="mb-3">
        <input aria-label="Switch view" type="checkbox" [(ngModel)]="switchView" [ngModelOptions]="{ standalone: true }" /> Switch to Day view
      </div>
    </div>

    <div class="modal-footer">
      <button aria-label="Go to date" type="button" id="go" class="btn btn-primary" (click)="navigate()">
        <fa-icon icon="location-arrow"></fa-icon>&nbsp;<span jhiTranslate="calendar.dateNav.go">Go</span>
      </button>
    </div>
  </div>
</div>
